In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jvfra\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\jvfra\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

## Lista

In [12]:
df_lista_geral_perguntas = pd.read_csv('/Users/jvfra/OneDrive/Documentos/projeto-data-science/lista.csv')
df_lista_geral_perguntas

           Base de Dados                                          Exerc√≠cio
0   Her√≥is (Marvel & DC)       1Ô∏è‚É£ Liste todos os her√≥is da editora Marvel.
1   Her√≥is (Marvel & DC)           2Ô∏è‚É£ Qual √© o her√≥i mais antigo da lista?
2   Her√≥is (Marvel & DC)      3Ô∏è‚É£ Qual √© a m√©dia de for√ßa dos her√≥is da DC?
3   Her√≥is (Marvel & DC)  4Ô∏è‚É£ Qual editora tem a maior m√©dia de intelig√™...
4   Her√≥is (Marvel & DC)                     5Ô∏è‚É£ Qual √© o her√≥i mais veloz?
5   Her√≥is (Marvel & DC)        6Ô∏è‚É£ Quantos her√≥is estrearam antes de 1960?
6   Her√≥is (Marvel & DC)  7Ô∏è‚É£ Qual √© a soma total da for√ßa dos her√≥is da...
7   Her√≥is (Marvel & DC)  8Ô∏è‚É£ Liste os her√≥is em ordem decrescente de ve...
8   Her√≥is (Marvel & DC)    9Ô∏è‚É£ Qual √© a m√©dia de estreia dos her√≥is da DC?
9   Her√≥is (Marvel & DC)     üîü Qual o nome do her√≥i mais forte entre todos?
10           Corinthians              1Ô∏è‚É£ Qual foi o ano com mais vit√≥rias?
11           Corinthians  2Ô∏è‚É£ Qual foi o saldo de gols (gols marcados - ...
12           Corinthians  3Ô∏è‚É£ Qual a m√©dia de posi√ß√£o final do Corinthia...
13           Corinthians      4Ô∏è‚É£ Qual ano teve o menor n√∫mero de derrotas?
14           Corinthians  5Ô∏è‚É£ Em quais anos o Corinthians marcou mais de...
15           Corinthians       6Ô∏è‚É£ Qual foi a taxa de vit√≥rias (%) por ano?
16           Corinthians  7Ô∏è‚É£ Liste os anos em ordem decrescente de pont...
17           Corinthians  8Ô∏è‚É£ Qual foi a pior posi√ß√£o do Corinthians nes...
18           Corinthians      9Ô∏è‚É£ Qual foi o ano com mais jogos disputados?
19           Corinthians  üîü Qual a m√©dia de gols sofridos por jogo em ca...
20                Filmes  1Ô∏è‚É£ Liste os filmes do g√™nero 'Fic√ß√£o Cient√≠fi...
21                Filmes           2Ô∏è‚É£ Qual √© o filme mais antigo da lista?
22                Filmes  3Ô∏è‚É£ Qual √© a m√©dia de bilheteria dos filmes da...
23                Filmes     4Ô∏è‚É£ Qual foi o filme com a maior nota no IMDb?
24                Filmes  5Ô∏è‚É£ Liste os filmes em ordem decrescente de du...
25                Filmes  6Ô∏è‚É£ Qual √© a soma total da bilheteria mundial ...
26                Filmes  7Ô∏è‚É£ Qual filme teve menos de 150 minutos de du...
27                Filmes   8Ô∏è‚É£ Liste os filmes lan√ßados depois do ano 2000.
28                Filmes      9Ô∏è‚É£ Qual a dura√ß√£o m√©dia dos filmes na lista?
29                Filmes      üîü Qual √© o filme de maior bilheteria mundial?

## Corinthias

In [103]:
df_lista_coringao = pd.read_csv('/Users/jvfra/OneDrive/Documentos/projeto-data-science/todo-poderoso-timao.csv')
df_lista_coringao

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato
0,2015,61,30,14,12,49,59,19
1,2016,42,27,10,11,85,29,4
2,2017,69,35,6,6,58,41,10
3,2018,47,27,11,14,30,29,17
4,2019,56,33,11,11,49,29,6
5,2020,45,32,8,6,72,49,2
6,2021,49,35,12,8,70,20,18
7,2022,40,36,7,10,70,34,13
8,2023,53,30,13,14,37,48,15
9,2024,64,22,6,5,89,48,19

In [ ]:
#11. Qual foi o ano com mais vit√≥rias do Corinthians?

max_vitorias = df_lista_coringao['Vit√≥rias'].idxmax()
numero_vitorias = df_lista_coringao['Vit√≥rias'].max()
ano_com_mais_vitorias = int(df_lista_coringao.loc[max_vitorias, 'Ano'])
ano_com_mais_vitorias
print(f'O ano com mais vit√≥rias do Corinthians foi {ano_com_mais_vitorias}, com {numero_vitorias} vit√≥rias.')
#df_ano_com_mais_vitorias

O ano com mais vit√≥rias do Corinthians foi 2022, com 36 vit√≥rias.

In [ ]:
#12. Qual foi o saldo de gols (gols marcados - gols sofridos) em cada ano??

df_lista_coringao['saldo_gols'] = df_lista_coringao['Gols_Marcados'] / df_lista_coringao['Gols_Sofridos']
anos_lista = df_lista_coringao['Ano']
df_lista_coringao[['Ano','saldo_gols']]

    Ano  saldo_gols
0  2015    0.830508
1  2016    2.931034
2  2017    1.414634
3  2018    1.034483
4  2019    1.689655
5  2020    1.469388
6  2021    3.500000
7  2022    2.058824
8  2023    0.770833
9  2024    1.854167

In [ ]:
#13. Qual a m√©dia de posi√ß√£o do Corinthians nos campeonatos?

df_soma_posicao = df_lista_coringao['Posi√ß√£o_Campeonato'].sum() / df_lista_coringao['Posi√ß√£o_Campeonato'].count()
df_posicao_media = df_soma_posicao.mean()
print(f'A m√©dia de posi√ß√£o do Corinthians nos campeonatos √© de {df_posicao_media}.')

A m√©dia de posi√ß√£o do Corinthians nos campeonatos √© de 12.3.

In [ ]:
#14. Qual ano teve o menor n√∫mero de derrotas?

max_derrotas = df_lista_coringao['Derrotas'].idxmax()
numero_derrotas = df_lista_coringao['Derrotas'].max()
ano_com_mais_derrotas = int(df_lista_coringao.loc[max_derrotas, 'Ano'])
ano_com_mais_derrotas
print(f'O ano com mais derrotas do Corinthians foi {ano_com_mais_derrotas}, com {numero_derrotas} derrotas.')

O ano com mais derrotas do Corinthians foi 2018, com 14 derrotas.

In [ ]:
#15. Em quais anos o Corinthians marcou mais de 60 gols?

df_lista_conringao_vitorias_60 = df_lista_coringao[df_lista_coringao['Gols_Marcados'] >= 60]
df_lista_conringao_vitorias_60[['Ano','Gols_Marcados']]

    Ano  Gols_Marcados
1  2016             85
5  2020             72
6  2021             70
7  2022             70
9  2024             89

In [ ]:
#16. Qual foi a taxa de vit√≥rias (%) por ano?

df_lista_coringao['taxa_vitorias'] = (df_lista_coringao['Vit√≥rias'] / df_lista_coringao['Jogos']) * 100
df_lista_coringao[['Ano','taxa_vitorias']]

    Ano  taxa_vitorias
0  2015      49.180328
1  2016      64.285714
2  2017      50.724638
3  2018      57.446809
4  2019      58.928571
5  2020      71.111111
6  2021      71.428571
7  2022      90.000000
8  2023      56.603774
9  2024      34.375000

In [ ]:
#17. Liste os anos em ordem decrescente de pontos (Vit√≥rias = 3 pontos, Empates = 1 ponto).

df_lista_coringao['pontos'] = (df_lista_coringao['Vit√≥rias'] * 3) + df_lista_coringao['Empates'] + (df_lista_coringao['Derrotas'] * -1)
df_lista_coringao_pontos_decrescente = df_lista_coringao[['Ano','pontos']].sort_values(by='pontos', ascending=False)
df_lista_coringao_pontos_decrescente

    Ano  pontos
6  2021     109
2  2017     105
7  2022     105
4  2019      99
5  2020      98
0  2015      92
8  2023      89
1  2016      80
3  2018      78
9  2024      67

In [152]:
#18. Qual foi a pior posi√ß√£o do Corinthians nesse per√≠odo?

df_index_posicao_menor = df_lista_coringao['Posi√ß√£o_Campeonato'].idxmin()
posicao_menor = df_lista_coringao['Posi√ß√£o_Campeonato'].min()
ano_posicao_menor = int(df_lista_coringao.loc[df_index_posicao_menor, 'Ano'])
print(f'o ano com a menor posi√ß√£o foi o ano de: {ano_posicao_menor}')

o ano com a menor posi√ß√£o foi o ano de: 2020

In [150]:
#19. Qual foi o ano com mais jogos disputados?

df_index_ano_mais_jogos = df_lista_coringao['Jogos'].idxmax()
ano_com_mais_jogos = df_lista_coringao['Jogos'].max()
ano_com_mais_jogos_loc = int(df_lista_coringao.loc[df_index_ano_mais_jogos, 'Ano'])
print(f'o ano com mais jogos foi o ano de: {ano_com_mais_jogos_loc}')

o ano com mais jogos foi o ano de: 2017

In [151]:
#20. Qual a m√©dia de gols sofridos por jogo em cada ano?

df_index_ano_mais_gols_sofridos = df_lista_coringao['Gols_Sofridos'].idxmax()
ano_com_mais_gols_sofridos = df_lista_coringao['Gols_Sofridos'].max()
ano_com_mais_gols_sofridos_loc = int(df_lista_coringao.loc[df_index_ano_mais_gols_sofridos, 'Ano'])
print(f'o ano com mais gols sofridos foi o ano de: {ano_com_mais_gols_sofridos_loc}')

o ano com mais gols sofridos foi o ano de: 2015

## Filmes

In [134]:
df_lista_filmes = pd.read_csv('/Users/jvfra/OneDrive/Documentos/projeto-data-science/filmes.csv')
df_lista_filmes

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime
1,Titanic,1997,2187,7.8,195,Romance
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
5,Clube da Luta,1999,101,8.8,139,Drama
6,Pulp Fiction,1994,213,8.9,154,Crime
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
8,Coringa,2019,1074,8.4,122,Drama
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica

In [135]:
#25.  Qual √© a soma total da bilheteria mundial de todos os filmes?


numero_bilheteria_total = df_lista_filmes['Bilheteria_Mundial'].sum()
int(numero_bilheteria_total)
print(f'A bilheteria total de todos os filmes √© de {numero_bilheteria_total}.')

A bilheteria total de todos os filmes √© de 11146.

In [137]:
#26. Qual filme teve menos de 150 minutos de dura√ß√£o?

df_lista_filmes_duracao150 = df_lista_filmes[df_lista_filmes['Dura√ß√£o_Minutos']< 150]
df_lista_filmes_duracao150[['T√≠tulo','Dura√ß√£o_Minutos']]

          T√≠tulo  Dura√ß√£o_Minutos
3         Matrix              136
5  Clube da Luta              139
8        Coringa              122

In [139]:
#27. Liste os filmes lan√ßados depois do ano 2000.

df_filmes_anos200 = df_lista_filmes[df_lista_filmes['Ano']< 2000]
df_filmes_anos200[['Ano','T√≠tulo']]

    Ano             T√≠tulo
0  1972  O Poderoso Chef√£o
1  1997            Titanic
3  1999             Matrix
5  1999      Clube da Luta
6  1994       Pulp Fiction

In [145]:
#28. Qual a dura√ß√£o m√©dia dos filmes na lista?
media_duracao = float(df_lista_filmes['Dura√ß√£o_Minutos'].mean())
print(f'A dura√ß√£o m√©dia dos filmes √© de {media_duracao} minutos.')

A dura√ß√£o m√©dia dos filmes √© de 160.4 minutos.

In [149]:
#29.Qual √© o filme de maior bilheteria mundial?

df_index_filme_maior_bilheteria = df_lista_filmes['Bilheteria_Mundial'].idxmax()
filme_maior_bilheteria = df_lista_filmes['Bilheteria_Mundial'].max()    
filme_maior_bilheteria_nome = df_lista_filmes.loc[df_index_filme_maior_bilheteria, 'T√≠tulo']
print(f'O filme com a maior bilheteria mundial √©: {filme_maior_bilheteria_nome}, com a bilheteria de {filme_maior_bilheteria}.')

O filme com a maior bilheteria mundial √©: O Senhor dos An√©is, com a bilheteria de 2917.